<div class="container">
  <div class="row">
    <p> </p>
    <h4>Welcome to The Trains!</h4>
    <p> </p>
    <form action="/rider" method="get">
      <p>I am a Rider, so let's look at train stuff</p>
      <p> </p>
      <button type="submit" class="btn btn-danger">go look</button>
      <p> </p>
    </form>
    <form action="/operator" method="get">
      <p>I am an Operator, so, let's modify some things</p>
      <p> </p>
      <button type="submit" class="btn btn-warning">modify!</button>
      <p> </p>
    </form>
  </div>
  <div class="row">
    <!-- <%= @all %> -->

  </div>
</div>
