<div class="container">
  <div class="row">
    <p> </p>
    <h4>Hello Operator!</h4>
    <p> </p>
    <form action="/trains" method="get">
      <p>I want to add a train</p>
      <p> </p>
      <button type="submit" class="btn btn-info">Train!</button>
      <p> </p>
    </form>
    <form action="/cities" method="get">
      <p>I want to add a city</p>
      <p> </p>
      <button type="submit" class="btn btn-info">City!</button>
      <p> </p>
    </form>
    <form action="/times" method="get">
      <p>I want to add a time</p>
      <p> </p>
      <button type="submit" class="btn btn-info">Time!</button>
      <p> </p>
    </form>
  </div>
  <div class="row">
  </div>
</div>
